// ####################################### background #############################

#doc2
  :background url(/images/tasma3.jpg) no-repeat scroll 0 0

// #######################################header #######################################
#hd
  h1
    :float left
    :width 80%
    :background transparent url(/images/klisza.jpg) no-repeat scroll 0 0
    :height 175px
    :margin 0 
    span
      :visibility hidden
  #language
    :float left 
    :width 20%
    :text-align right
    #locale 
      :background-color #D6D6D6
      :border 1px solid #999999
      :color #666666
      :font-size 10px
      :font-weight bold
  #account
    :text-align right
    :padding-top 70px
    .style
      :padding 5px
      a
        :-moz-border-radius-topleft 5px
        :-webkit-border-top-left-radius 5px
        :-moz-border-radius-bottomleft 5px
        :-webkit-border-bottom-left-radius 5px
        :margin-top 5px
        :border 1px solid #333333
        :background-color #f5f5f5 
        :padding-left 10px
        :padding-right 10px
    #register_urge
      :-moz-border-radius 10px
      :-webkit-border-radius 10px
      :background-color #F5F5F5
      :border 1px solid red
      :padding 10px
      :font-weight bold
      :text-align center
      :width 600px
      :position absolute
      :left 640px
      :top 128px
// ########################################## flash ##################################
#flash
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :background-color #F5F5F5
  :border 1px solid red
  :padding 10px
  :font-weight bold
  :margin-bottom 5px
  :text-align center
#flash_for_js
  :visibility hidden
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :background-color #F5F5F5
  :border 1px solid red
  :padding 10px
  :font-weight bold
  :margin-bottom 5px
  :text-align center
// ########################################## body ##################################
h2
  :font-size 18px
.page_topic
  :font-size 22px
  :text-align left
  :margin-bottom 20px
  :margin-top 20px
  :padding-left 100px
.genre 
  :font-size 14px
  :opacity 0.9
.genre.all
  :float left 
  :width 70%
.genre.horror 
  :float left
  :width 29%
.genre.all div, .genre.horror div
  :height 20px
  :width 150px
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :margin 5px
  :border 1px solid #333333
  :background-color #f5f5f5 
  :padding-top 5px
  :padding-left 30px
  a
    :color #2f2b2b  
    :font-weight bold
#torrent 
  :float left
  :overflow hidden
.sort
  :float right
.sort_result
  :margin 15px
  :font-size 18px
  :font-weight bold
.link_comunication a
  :opacity 0.9
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :background-color #F8F8F8
  :border 1px solid #CCCCCC
  :color #666666
  :padding 2px
  :text-decoration underline
.link_comunication span  
  :opacity 0.9
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :background-color #EEEEEE
  :border 1px solid #666666
  :color #444444
  :padding 2px
// ################################# comment site #####################################
.comment_site
  :opacity 0.9
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :margin 10px
  :border 1px solid #333333
  :background-color #f5f5f5 
  :padding-top 10px
  :padding-bottom 10px
  :width 700px
  :text-align center
  :position relative
  :left 150px
  .topic
    :font-weight bold
    :font-size 14px



// ######## styling of movie list -> for example if you use searching or choose genre ########
=movie_list_variable
  :opacity 0.9
  :clear both
  :width 710px
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :margin 5px
  :border 1px solid #333333
  :background-color #f5f5f5 
  :padding-top 5px
  :padding-left 10px
  :padding-right 10px

  a  
    :color #2f2b2b  
    :font-weight bold
  .title
    :float left
    :width 50%
    :font-size 16px
    :padding-bottom 5px
  .rating
    :float left
    :width 50%
    :text-align right
  .torrents
    :clear both
    :float left 
    :width 60%
    .add_to_your_list a
      :color red
  .subtitles
    :width 40%
    :float left
    :text-align right
  .plot
    :padding-top 5px
    :clear both
    :width 100%

.movie_list
  li
    +movie_list_variable
  li.is_poster
    +movie_list_variable
    :height 140px
    #poster
      :width 15%
      :float left
    #movie_features
      :width 85%
      :float left
  

// ################################### styling of concrete movie -> more info than in list ###
.movie_details
  :height 250px
  :opacity 0.9
  :width 710px
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :margin 5px
  :border 1px solid #333333
  :background-color #f5f5f5 
  :padding-top 5px
  :padding-left 10px
  :padding-right 10px
  a
    :color #2f2b2b  
    :font-weight bold
  .title
    :float left
    :width 40%
    :font-size 16px
    :padding-bottom 5px
  .imdb_rating
    :float left
    :width 35%
    span
      :font-weight bold 
  .user_rating
    :float left
    :width 25%
    #user_rating
      :float left
      :width 40%
      :text-align right
    #stars
      :float left
      :width 60%
  .poster
    :margin-top 10px
    :margin-right 5px
    :clear both
    :float left
    :width 22%
  .the_rest
    :margin-top 10px
    :float left
    :width 73%
  .torrents
    :clear both
    :float left 
    :width 60%
    .add_to_your_list a
      :color red
  .subtitles
    :width 40%
    :float left
    :text-align right
  .year
    :padding-top 5px
    :clear both
    :width 100%
  .directors
    :width 50%
    :float left 
  .imdb
    :width 50%
    :float left
  .writers
    :clear both
    :width 80%
    :float left
  .trailers
    :width 20%
    :float left
  .release_date
    :clear both
    :width 100%
  .plot
    :padding-top 5px   
// ####################################side panel -> searching #############################
#advanced_search
  :text-align center
.autocomplete_results
  li
    :width 155px
    :-moz-border-radius 5px
    :-webkit-border-radius 5px
    :border 1px solid #333333
    :background-color #f5f5f5 
    :padding-top 5px
    :padding-left 10px
    a
      :color #2f2b2b  
      :font-weight bold
// ####################################### user account ###############################
.tip_block
  :display none
  :position absolute
  :opacity 0.9
  :background #DEDEDE
  :padding 5px
  :-moz-border-radius 10px 
  :-webkit-border-radius 10px
  :left 650px
  :top 200px 
  :border 2px solid red
  :font-weight bold
  :width 500px
.user_account
  :float left 
  :width 30%
  div
    :padding 5px
  .user
    :font-size 14px
    :font-weight bold
    .photo
      :float left
      :width 50px
    .login
      :float left
      :width 100px
      :padding-top 20px
      
  .subtitle_language
    :clear both
    :-moz-border-radius-topright 5px
    :-webkit-border-top-right-radius 5px
    :-moz-border-radius-bottomright 5px
    :-webkit-border-bottom-right-radius 5px
    :padding-top 5px
    :border 1px solid #333333
    :background-color #f5f5f5 
    :padding-left 10px
    :padding-right 10px
    :height 35px
    :width 250px
    .user_language
      :float left
      :margin-top 5px
    .user_language_form
      :float left
      :margin-top 5px
      #user_language  
        :background-color #D6D6D6
        :border 1px solid #999999
        :color #666666
        :font-size 10px
        :font-weight bold
    .tip
      :float left  
      :margin-left 5px
  .delete_account, .edit_account
    :text-align left
    a
      :-moz-border-radius-topright 5px
      :-webkit-border-top-right-radius 5px
      :-moz-border-radius-bottomright 5px
      :-webkit-border-bottom-right-radius 5px
      :margin-top 5px
      :border 1px solid #333333
      :background-color #f5f5f5 
      :padding-left 10px
      :padding-right 10px
.user_form 
  :opacity 0.9
  :float left
  :width 30%
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :margin-top 5px
  :border 1px solid #333333
  :background-color #dedede 
  :padding 10px
  :margin-left 5px
  :margin-right 5px
  :color #2f2b2b  
  :text-align center
  #alert_add
    :padding-top 5px
  .tip
    :float left
    :width 10% 
    :text-align left
  #alerts_topic  
    :float left
    :width 90%
    :font-weight bold
    :margin-bottom 5px
  #alerts_results
    :clear both
    :width 100%
    .one_movie_alert
      :background-color #F8F8F8
      :border 1px solid #cecece
      :-moz-border-radius 5px
      :-webkit-border-radius 5px  
      :margin-top 5px
  #message 
    :margin-top 5px
    :display none
    //:visibility hidden    
    :font-size 12px
    #title
      :font-weight bold
      :padding 5px
  .add_alert
    :padding-top 5px

.user_movies_list
  :opacity 0.9
  :float left
  :width 30%
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :margin-left 5px
  :margin-top 5px
  :border 1px solid #333333
  :background-color #dedede 
  :padding 10px
  .tip
    :float left
    :width 10% 
    :text-align left
  .alerts_topic
    :float left
    :width 90%    
    :font-weight bold  
    :text-align center  
    :margin-bottom 5px    
  .movie_list_results
    :clear both
    :width 100%
    .one_movie_alert
      :padding 3px
      :margin-top 5px
      :-moz-border-radius 5px
      :-webkit-border-radius 5px        
      :background-color #F8F8F8
      :border 1px solid #cecece
      #poster 
        :display none
      #title
        :font-size 14px
        :color #2f2b2b  
        :font-weight bold
      #del_from_movie_list
        :text-align right
.link_comunication
  :clear both
  :width 100%
  :padding-top 10px
// ###############################registration & login #######################################
.registration_site
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :padding-top 5px
  :border 1px solid #cecece
  :background-color #999999 
  :padding-left 10px
  :padding-right 10px
  :text-align center
  .register
    :font-weight bold
    :font-size 14px
    :padding-bottom 5px
  #errorExplanation
    :-moz-border-radius 10px
    :-webkit-border-radius 10px
    :padding-top 5px
    :border 1px solid red
    :background-color #f5f5f5 
    :padding 5px
    :text-align center
    //:width 500px
    p 
      :font-size 14px
      :padding-top 5px
      :padding-bottom 5px
      :font-weight bold
  .new_user
    :padding 5px
#response
  :visibility hidden
  :opacity 1
  :background #999999
  :padding 5px
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :z-index 5
  :position absolute
  :left 600px
  :top 200px
  :border 2px solid #cecece  
  :text-align center
  h1
    :font-size 16px
    :text-align center
    :font-weight bold
    :padding-bottom 5px
   
#backgroundPopup
  :display none  
  :position fixed  
  :_position absolute  
  :height 100%  
  :width 100%  
  :top 0  
  :left 0  
  :background #999999
  :opacity 0.7  
  :border 1px solid #cecece  
  :z-index 1 
// ###################################### footpront ##################################
#copyright
  :opacity 0.9
  :margin-top 40px
  :-moz-border-radius-topleft 10px
  :-webkit-border-top-left-radius 10px
  :text-align center
  :background-color #e2e2e2
  :background-color #e2e2e2
  :border 2px solid #333333
  
// ####################################### pagination ###############################  
.paginate

  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :height 16px
  :background #F8F8F8
  :border 1px solid #E5E5E5
  :text-align center
  :padding 1em
  a, span
    :padding .2em .3em
  span.disabled
    :color #AAA
  span.current
    :color black
    :font-size 16px
    :font-weight bold
    :background transparent url(images/apple-circle.gif) no-repeat 50% 50%
  a
    :text-decoration none
    :color #454343
    &:hover, &:focus
      :text-decoration underline
      
// #################### below css for extra features - not firts deploy !!  #############################
#search_block
  :font-size 12px
  #search_query 
    :float left
  #submit 
    :font-size 11px
    :float left
  .autocomplete_results
    :clear both
    :width 100%
#main 
  :clear both
  :width 100%



  

  
/ 
  #account, #redirect_login
    :visibility hidden 

