-@user.movies.each do |movie|
  -content_tag :div, :class => "one_movie_alert", :id => movie.id do
    #title 
      = link_to(movie.title, movie_path(movie))
    #poster
    / = image_tag(movie.poster, :width => 30)
    #del_from_movie_list
      = link_to(t('user.del_from_movie_list'), desirable_alert_path(movie))
