%br
= t('user.alert_aceptation')
%br
%br
-form_for [@current_user, @alert], :html => { :method => :delete } do |f|
  = submit_tag t('user.alert_del') 
%br
= link_to(t('user.alert_cancel'), user_path(current_user));
